@font-face {
    font-family: 'OpenSans';
    src: url('fonts/OpenSans/OpenSans-Light.ttf');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OpenSans';
    src: url('fonts/OpenSans/OpenSans-Regular.ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OpenSans';
    src: url('fonts/OpenSans/OpenSans-Medium.ttf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OpenSans';
    src: url('fonts/OpenSans/OpenSans-Bold.ttf');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'LithosC';
    src: url('fonts/LithosC/LithosC.ttf');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}